.main__content__container {
    width: 100%;
    height: 400px;
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    position: relative;
    z-index: 10

}

.main__content__container .FirstFlexChild{
    display: flex;
    flex-flow: column;
    margin-left: 2rem;
    align-items: center;
    min-width: 520px;
}


.main__content__container .SecondFlexChild{
    display: flex;
    flex-flow: column;
    margin-left: 2rem;
    align-items: center;
    width: 100%;
    min-height: 400px;
}

@media (min-width: 900px) {
    .main__content__container {
        flex-flow: row;
    }

    .SecondFlexChild {

        min-height: 100%
    }
}

.main__content__container .MainText {
    width: 60%;
    min-width: 60%;
    line-height: 3rem;

}

.main__content__container .TextDecoration__Purple {
    color: #673AB7;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 10px;
    position: relative;
    bottom: 1rem;
    
}

.main__content__container .TextDecoration__Orange {
    color: #FF9800;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 10px;
    position: relative;
    top: 1rem;
}

form {
    text-align: center;
    width: 100%;
}

.main__content__input {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
    font-weight: 700;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}

.main__content__input__nameChange {
    font-size: 15px;
    color: #2E7D32;
    text-transform: uppercase;
}

.main__content__input__nameChangeContainer {
    min-height: 40px;
}

.main__content__input:focus {
    outline: none;
}


.main__content__image {
    height: 100%;
    width: 630px;
    background-position: 70% 70%;
    background-size: cover;
    text-align: right;
    color: #FF9800;
    animation: movein 2s;
    animation-timing-function: ease;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes movein {
    from {margin-right: -700px; }
    to {margin-right: 0;}
}
