.MainIllustration {
    width: 100%;
    margin-top: 10rem;
    height: 400px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.MainIllustration .image {
    height: inherit;
    width: 300px;
    background-size: cover;
}