.SmallDot {
    background: #673AB7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 5rem;
    right: 2rem;
    transition: all .3s ease-in-out;
    z-index: 100;
    cursor: pointer;
}

.SmallDot:hover {
    background-color: #03DAC5;
    transform: scale(1.2)
}

.BigDot {
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0rem;
    right: 0rem;
    border-radius: 0;
    transition: all .3s ease-in-out;
    z-index: 100;
    background: #673AB7;
}

.CloseButton {
    position: fixed;
    top: 5rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: opacity .3s;
}

